.slider {
  margin-top: -148px;
  position: relative;
  z-index: 1; }
  .slider .bx-wrapper .bx-viewport {
    -webkit-background-size: none;
    -moz-background-size: none;
    -o-background-size: none;
    background-size: none;
    border: none;
    left: 0;
    background: #333; }
    .slider .bx-wrapper .bx-viewport .bxslider {
      padding: 0; }
      .slider .bx-wrapper .bx-viewport .bxslider li {
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d; }
        .slider .bx-wrapper .bx-viewport .bxslider li .sgradient {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 60%);
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 60%);
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 60%);
          z-index: 2; }
        .slider .bx-wrapper .bx-viewport .bxslider li .slidertxt {
          position: absolute;
          display: inline-block;
          overflow: hidden;
          margin: 0;
          width: auto;
          z-index: 99;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center; }
          .slider .bx-wrapper .bx-viewport .bxslider li .slidertxt h2, .slider .bx-wrapper .bx-viewport .bxslider li .slidertxt p, .slider .bx-wrapper .bx-viewport .bxslider li .slidertxt a {
            color: #fff;
            -webkit-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
            text-shadow: 1px 1px 2px black; }
          .slider .bx-wrapper .bx-viewport .bxslider li .slidertxt h2 {
            font-size: 48px;
            font-family: "Anton", sans-serif;
            font-weight: 400;
            margin: 0 0 20px 0;
            line-height: 56px; }
          .slider .bx-wrapper .bx-viewport .bxslider li .slidertxt p {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px; }
        .slider .bx-wrapper .bx-viewport .bxslider li .slidertxt:hover a h2 {
          color: #d67a1e; }
  .slider .bx-wrapper .bx-controls-direction a {
    margin-top: -26px;
    width: 30px;
    height: 53px; }
  .slider .bx-wrapper .bx-controls-direction .bx-prev {
    left: 45px;
    background: url(../images/prev.svg) no-repeat center center !important;
    opacity: 0.5; }
  .slider .bx-wrapper .bx-controls-direction .bx-next {
    right: 45px;
    background: url(../images/next.svg) no-repeat center center !important; }
  .slider .bx-wrapper .bx-controls-direction .bx-prev, .slider .bx-wrapper .bx-controls-direction .bx-next {
    opacity: 0.5; }
  .slider .bx-wrapper .bx-controls-direction .bx-prev:hover, .slider .bx-wrapper .bx-controls-direction .bx-next:hover {
    opacity: 1; }
  .slider .bx-wrapper .bx-controls-direction .bx-prev:hover {
    left: 40px; }
  .slider .bx-wrapper .bx-controls-direction .bx-next:hover {
    right: 40px; }
  .slider .sliderskew {
    position: absolute;
    z-index: 3;
    background: #fff;
    bottom: -265px;
    left: 0;
    right: 0;
    -webkit-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    transform: skewY(-4deg);
    height: 350px;
    width: 100%; }

/*# sourceMappingURL=slider.css.map */
